UnityProjects/MyPrototype/Builds
UnityProjects/MyPrototype/Library
UnityProjects/MyPrototype/Temp
UnityProjects/MyPrototype/Logs
UnityProjects/MyPrototype/*.sln
UnityProjects/MyPrototype/*.csproj
UnityProjects/MyPrototype/.vs
UnityProjects/MyPrototype/obj
UnityProjects/MyPrototype/.vsconfig
UnityProjects/MyPrototype/UserSettings